h1 {
    margin-left: 770px;

    }
.container{
    width: 100px;	height: 600px; /* Размеры */
    background: #F0E68C	; /* Цвет фона */
    outline: 2px solid #000; /* Чёрная рамка */
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
    }
    
form div label strong{
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:15px;
    }
.col-sm-10
{
    float: left;
    width: 100px;
    margin-top: 10px;

}
form ul li input, select, span {
    float: left;
    margin-bottom: 10px;
    }
    
form textarea {
    float: left;
    width: 350px;
    height: 150px;
    }
    
button[type=submit]{
    clear: left;
    width:300px;
    height:50px;
    position: fixed;
    background-color: #006400;
    top: 80%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}
